<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	id="com.mosalingua.plugin.deviceinfo"
	version="1.1.0">
	<name>DeviceInfo</name>
	<description>Cordova plugin to get unique identifiers: SN (galaxy tab) UUID, IMEI, IMSI, ICCID and MAC.</description>
	<license>MIT</license>
	<keywords>cordova,uid,imei,imsi,uuid,sim,iccid,mac</keywords>
	<repo>https://github.com/mosalingua/mosalingua-plugin-deviceinfo.git</repo>
	<issue>https://github.com/mosalingua/mosalingua-plugin-deviceinfo.git/issues</issue>

	<js-module src="www/deviceinfo.js" name="DeviceInfo">
		<clobbers target="window.deviceinfo" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="DeviceInfo">
				<param name="android-package" value="com.mosalingua.plugin.deviceinfo" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
		</config-file>

		<source-file src="src/android/com/mosalingua/plugin/deviceinfo/DeviceInfo.java" target-dir="src/com/mosalingua/deviceinfo/DeviceInfo" />
	</platform>

</plugin>
